[Unit]
Description=Calibre Content Server
After=network.target

[Service]
User=yash
Group=sudo
# ExecStart=/usr/bin/calibre-server # Passwordless login, but no access then
ExecStart=/usr/bin/calibre-server --enable-auth
ExecStop=/bin/kill -s SIGTERM $MAINPID
Restart=on-failure
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
